body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: #f2f2f2; */
    background: #212026;
    color: white;
  }
  
  .container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  h1 {
    margin: 0;
    float: left;
  }
  
  .navbar {
    float: right;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar li {
    margin-right: 20px;
  }
  
  .navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
  }
  
  .navbar a:hover {
    color: #ffcc00;
  }
  
  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .menu-toggle span {
    height: 3px;
    width: 25px;
    background: #fff;
    margin: 5px 0;
    display: block;
  }
  

  

  
  
  h1 {
    margin: 0 1em 0 0;
  }
  
  .navbar {
    display: flex;
    align-items: center;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar li {
    margin-right: 20px;
  }
  
  .navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
  }
  
  .navbar a:hover {
    color: #ffcc00;
  }
  
  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .menu-toggle span {
    height: 3px;
    width: 25px;
    background: #fff;
    margin: 5px 0;
    display: block;
  }
  
  @media screen and (max-width: 768px) {
    .menu-toggle {
      display: flex;
    }
  
    .navbar {
      display: none;
      flex-direction: column;
      width: 100%;
      background: #333;
      position: absolute;
      top: 60px;
      left: 0;
    }
  
    .navbar.show {
      display: flex;
    }
  
    .navbar li {
      
      text-align: center;
      margin: 0 1em;
    }

    .text p {
        font-size: 16px;
    }

  } 
  
/* ! ||--------------------------------------------------------------------------------|| */
/* ! ||                                      .text                                     || */
/* ! ||--------------------------------------------------------------------------------|| */


.text {
    text-align: justify;
    font-size: 32px;
    line-height: 1.6;
    color: white;
    margin-bottom: 15px;
    padding: 1em;
  }
  
  .text a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .text a:hover {
    color: #0056b3;
  }
  
  .text strong {
    font-weight: bold;
  }
  
  .text em {
    font-style: italic;
  }
  
  .text ul,
  .text ol {
    margin-bottom: 15px;
  }
  
  .text li {
    margin-bottom: 8px;
  }
  
  /* Dodatkowe style, dostosuj według potrzeb */
  .text.info {
    color: #007BFF;
  }
  
  .text.success {
    color: #28a745;
  }
  
  .text.warning {
    color: #ffc107;
  }
  
  .text.error {
    color: #dc3545;
  }
  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Zaokrąglenie rogów */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Cień */
    transition: transform 0.3s ease-in-out;
  }
  
  img:hover {
    transform: scale(1.5); /* Powiększenie obrazu przy najechaniu kursorem */
  }